!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .wrapper
      .chat-side
        = render "shared/group"
      .chat-main
        .main-headr
          .current-group
            %h2.current-group__name
              = @group.name
            %ul.member-list 
              Member&nbsp;:&nbsp; 
              %li.member-list__member
                - @group.users.each do |user|
                  = user.name
          = link_to edit_group_path(@group) do
            .main-header__edit-btn Edit
        .maessages
          = render @messages       
        .form 
          = form_for [@group, @message], html: {class: 'new_message'} do |f|
            .form__input-box
              = f.text_field :text, placeholder: "type a message", class: "input"
              = f.label :image, class: "image-label" do
                = f.file_field :image, class: "filesend"
                = fa_icon "picture-o", class: "icon"
            = f.submit "Send" , class: "chat-group-form__action-btn"
